.i-top{
    background: #fff;
    border-bottom: 10px solid #f5f5f5;
}
.i-top-search{
  margin: 10px 13px;
  padding: 1px 0 0 30px;
  border: 1px solid #f5f5f5;
  background: url(/images/search.png) no-repeat 8px center;
  background-size: 14px;
  border-radius: 2px;
  font: 11px/33px a;
  color: rgba(0, 0, 0, 0.4);
}

.i-top-nav{
  margin: 14px 0 4px;
  display: -webkit-box;
  width: 100%;
  text-align:center;
  display: flex;
}
.i-top-nav a{
  flex: 1;
  font-size: 12px;
  text-align: center;
  color: #555;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.i-top-nav a .title{
  display: block;
  height: 22px;
  line-height: 22px;
}
.i-top-nav a .image{
  height: 25px;
  line-height: 25px;

}
.i-top-nav a i{
  font-size: 30px;
}
.i-top-nav a:nth-child(3n+1) i{color: #f4ea2a;}
.i-top-nav a:nth-child(3n+2) i{color: #1296db;}
.i-top-nav a:nth-child(3n+3) i{color: #13227a;}

.i-hot{
  position: relative;
  background: #fff;
  border-bottom: 10px solid #f5f5f5;
}
.i-hot-header{
  position: relative;
  padding: 10px 14px;
  border-bottom: 1px solid #f0f0f0;
  border-left: 6px solid #ffab18;
}
.i-hot-header-title{
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.i-hot-list{
  padding: 13px 14px 5px;
  font-size: 0px;
}
.i-hot-list li{
  width:33.3%;
  display:inline-block;
  vertical-align:top;
  line-height: 1;
  margin-bottom: 8px;

}
.i-hot-list li>*{
  display: inline-block;
}
.i-hot-list li:nth-child(3n+1){text-align:left;}
.i-hot-list li:nth-child(3n+2){text-align:center;}
.i-hot-list li:nth-child(3n+3){text-align:right;}
.i-hot-list-wrap{
  position : relative;
  overflow: hidden;
  width: 86px;
}
.i-hot-list-wrap-cover{
  position: relative;
  width: 86px;
  height: 113px;
  background-color: #eeece9;
  box-shadow: 0px 6px 5px -3px #aaa;
  border: 1px solid #f0f0f0;
  border-bottom: none;
  overflow: hidden;
}
.i-hot-list-wrap-cover img{
  width: 100%;
  height: 100%;
}
.i-hot-list-wrap-info{
  padding-top: 8px;
}
.i-hot-list-wrap-info-title{
  font-size: 13px;
  line-height: 1.4em;
  max-height: 2.8em;
  color: #8d8d8d;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;/*单行溢出文本显示省略号*/
  white-space: nowrap;/*规定段落中的文本不进行换行*/

}
.p-tag {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.4;
    background-color: #ef6c2c;
    color: #fff;
    width: 100%;
    -webkit-transform-origin: top center;
    -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
    font-size: 1.4rem;
    text-align: center;
}
.p-tag.-word{
  background-color: #49ab3f;

}
.p-tag.-word:before{
  content: '\65b0\4e66';
}
.i-cl{
  background: #fff;
  border-bottom: 10px solid #f5f5f5;
  position: relative;
}
  .i-cl-header{
    position: relative;
    padding: 15px 13px 14px 13px;
    border-bottom: 1px solid #f0f0f0;
  }
  .i-cl-header-title{
    position: relative;
    font: bold 13px/13px a;
    color: rgba(0, 0, 0, 0.9);
  }
  .i-cl-header-title > i{
    position: absolute;
    margin: -1px 0 0 5px;
    padding: 3px 5px 2px 5px;
    font: 9px/9px a;
    color: #fff;
    background: #53ac7d;
    border-radius: 1px;
  }

  .i-cl-list{
    padding: 0 13px;

  }
  .i-cl-list li{
    padding: 17px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  .i-cl-list li:last-child {
      border: none;
  }
  .i-cl-list-main{
    overflow: hidden;
  }

  .i-cl-list-main-left{
    position: relative;
    float: left;
    width: 85px;
    height: 113px;
    background-color: #eeece9;/*书没加载出来有个背景色*/
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    overflow: hidden;
  }
  .i-cl-list-main-left img {
      width: 100%;
      height: 100%;
      border-radius: 1px;
  }
  .i-cl-list-main-left-state{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;/* border和padding计算入width之内*/
    font: 10px/10px a;
    padding: 25px 7px 6px;
    color: #fff;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));

  }
  .i-cl-list-main-right{
      margin-left: 100px;
      padding-top: 6px;
      background: #fff;
  }
  .i-cl-list-main-right-bookname{
    margin-bottom: 4px;
    font: 16px/17px a;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
  }
  .i-cl-list-main-right-author{
    margin-top: 8px;
    font: 12px/12px a;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .i-cl-list-main-right-info{
    margin: 8px 0 0;
    height: 2.8em;
    font: 12px/1.4em a;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    /*下面3个控制多行*/
    display: -webkit-box;/*多行文字溢出*/
    -webkit-line-clamp: 2;/*多行文字几行*/
    -webkit-box-orient: vertical;/*溢出就用...*/
  }

  .i-cl-list-main-right-tags{
    margin-top: 10px;
    padding-top: 3px;
    overflow: hidden;
  }
  .i-cl-list-main-right-tags-tag{
    float: left;
    margin: -3px 7px 0 0;
    padding: 3px 6px 2px;
    font: 10px/11px a;
    color: #53ac7d;
    border-radius: 3px;
    border: 1px solid #53ac7d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 6em;
  }
  .i-cl-list-main-right-tags-tag:last-child {
      margin-right: 0;
  }
  .i-up{
    background: #fff;
    border-bottom: 10px solid #f5f5f5;
    position: relative;
  }
      .i-up-header{
        position: relative;
        padding: 15px 13px 14px 13px;
        border-bottom: 1px solid #f0f0f0;
      }
      .i-up-header-title{
        position: relative;
        font: bold 13px/13px a;
        color: rgba(0, 0, 0, 0.9);
      }
      .i-up-header-title > i{
        position: absolute;
        margin: -1px 0 0 5px;
        padding: 3px 5px 0 5px;
        font: 9px/9px a;
        color: #fff;
        background: #53ac7d;
        border-radius: 1px;
      }
      .i-up-header-tab{
        position: absolute;
        top: 9px;
        right: 13px;

      }
      .i-up-header-tab a{
        position: relative;
        font: 12px/12px a;
        color: #999;
        padding: 16px 7px;
        -webkit-tap-highlight-color:rgba(0,0,0,0);

      }
      .i-up-header-tab a:after{
        content: '';
        position: absolute;
        top: 16px;
        bottom: 16px;
        right: 0;
        width: 1px;
        border-right: solid 1px #ccc;
      }
      .i-up-header-tab a:last-child {
          padding-right: 0;
          padding-left: 0;

      }
      .i-up-header-tab a:last-child:after {
          display: none;
      }
      .i-up-header-tab-select{
        color: #528ae8 !important;/*important防止被覆盖*/
      }

      .i-up-list{
        padding: 0 13px;

      }
      .i-up-list li{
        padding: 17px 0;
        border-bottom: 1px solid #f0f0f0;
      }
      .i-up-list li:last-child {
          border: none;
      }
      .i-up-list-main{
        overflow: hidden;

      }

      .i-up-list-main-left{
        position: relative;
        float: left;
        width: 85px;
        height: 113px;
        background-color: #eeece9;/*书没加载出来有个背景色*/
        border: 1px solid #f0f0f0;
        border-radius: 1px;
        overflow: hidden;
      }

      .i-up-list-main-left img {
          width: 100%;
          height: 100%;
          border-radius: 1px;
      }
      .i-up-list-main-state{
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        font: 10px/10px a;
        padding: 25px 7px 6px;
        color: #fff;
        background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));

      }
      .i-up-list-main-right{
          margin-left: 100px;
          padding-top: 6px;
          background: #fff;
      }
      .i-up-list-main-right-bookname{
        margin-bottom: 4px;
        font: 16px/17px a;
        color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        text-overflow: ellipsis;/*单行溢出文本显示省略号*/
        white-space: nowrap;/*规定段落中的文本不进行换行*/
      }
      .i-up-list-main-right-author{
        margin-top: 8px;
        font: 12px/12px a;
        color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .i-up-list-main-right-info{
        margin: 8px 0 0;
        height: 2.8em;
        font: 12px/1.4em a;
        color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        text-overflow: ellipsis;
        /*下面3个控制多行*/
        display: -webkit-box;/*多行文字溢出*/
        -webkit-line-clamp: 2;/*多行文字几行*/
        -webkit-box-orient: vertical;/*溢出就用...*/
      }

      .i-up-list-main-right-tags{
        margin-top: 10px;
        padding-top: 3px;
        overflow: hidden;

      }
      .i-up-list-main-right-tags-tag{
        float: left;
        margin: -3px 7px 0 0;
        padding: 3px 6px 2px;
        font: 10px/11px a;
        color: #53ac7d;
        border-radius: 3px;
        border: 1px solid #53ac7d;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 6em;
      }
      .i-up-list-main-right-tags-tag:last-child {
          margin-right: 0;
      }

      .i-up-list-mainnoimg-left{
        float: left;
        margin-top: 1px;
        font: 13px/13px a;
        color: rgba(237, 83, 15, 0.9);
      }
      .i-up-list-mainnoimg-right{
          margin-left: 27px;
      }
      .i-up-list-mainnoimg-right-bookname{
        font: 15px/15px a;
        color: rgba(0, 0, 0, 0.9);
        background: #fff;
        position: relative;
      }

      .i-up-foot{
        border-top: 1px solid #f0f0f0;
        overflow: hidden;

      }
      .i-up-foot >a {
        display: block;
        width: 100%;
        padding: 14px;
        font: 13px/1.3em a;
        color: rgba(0, 0, 0, 0.9);
        box-sizing: border-box;
        text-align: center;
      }
      .i-up-list-main__order{
        position: absolute;
        left: 3px;
        top: 0;
        padding: 5px 3px 0 4px;
        height: 17px;
        width: 12px;
        font: 8px/0.8em a;
        color: #fff;
        background: url(/webdashubao/images/V3CAzyZh.png) no-repeat;
        background-size: 15px 22px;

      }
