* {
	margin: 0;
	padding: 0;
	list-style: none
}

img {
	border: 0
}

body {
	font-size: 12px;
	font-family: "Microsoft YaHei","微软雅黑","宋体";
	background-color: #fff;
	color: #333
}
input {
    vertical-align: middle;
}
a {
	color: #333;
	text-decoration: none;
	outline: 0
}

a:hover {
	color: #360
}
em {
    font-style: normal;
}

.main,.grid {
	width: 960px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}

.lf {
	float: left
}

.rt {
	float: right
}
.re{
  position: relative;
}

.p-tag{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1.4;
	background-color: #ef6c2c;
	color: #fff;
	width: 100%;
	-webkit-transform-origin: top center;
	-webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
	font-size: 1.0rem;
	text-align: center;
}

.online{
	overflow: hidden;
	text-overflow: ellipsis;/*单行溢出文本显示省略号*/
	white-space: nowrap;/*规定段落中的文本不进行换行*/

}
.active{
	color: red;
}
.f-cb:after{
    clear:both;
    content: '';
    display: block;
    height: 0;
    overflow:hidden;
    visibility: hidden;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; /*初始状态 透明度为0*/
  }
  30% {
    opacity: 0.3; /*初始状态 透明度为0*/
  }
  50% {
    opacity: 0.5; /*中间状态 透明度为0*/
  }
  80% {
    opacity: 0.8; /*中间状态 透明度为0*/
  }
  100% {
    opacity: 1; /*结尾状态 透明度为1*/
  }
}
.Displayanimation
{
  -webkit-animation-name: fadeIn; /*动画名称*/
  -webkit-animation-duration: 2s; /*动画持续时间*/
  -webkit-animation-iteration-count: 1; /*动画次数*/
  -webkit-animation-delay: 0s; /*延迟时间*/
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25px;
  width: 10px;
  border-radius: 10%;
  background: #2c3e50;
  border-top-color: #2980b9;
  -webkit-animation: fade2 1s infinite;
          animation: fade2 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:after, .loading:before {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 10px;
  background: #2c3e50;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  border-radius: 10%;
  -webkit-animation: fade1 1s infinite;
          animation: fade1 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:before {
  left: 15px;
  -webkit-animation: fade3 1s infinite;
          animation: fade3 1s infinite;
}

@-webkit-keyframes fade1 {
  0% {
    background: #2980b9;
  }
}

@keyframes fade1 {
  0% {
    background: #2980b9;
  }
}
@-webkit-keyframes fade2 {
  33% {
    background: #2980b9;
  }
}
@keyframes fade2 {
  33% {
    background: #2980b9;
  }
}
@-webkit-keyframes fade3 {
  66% {
    background: #2980b9;
  }
}
@keyframes fade3 {
  66% {
    background: #2980b9;
  }
}




.case_right {
    float: right;
    width: 728px;
    overflow: hidden;
    border: #dee1e6 1px solid;
    border-top: 0;
}
.case_title {
    background: url(/webdashubao/images/case.png) repeat-x 0 -58px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #208181;
}
.case_msg {
    padding-left: 8px;
    height: 38px;
    line-height: 38px;
    background-color: #FFE6FF;
    font-size: 14px;
    font-weight: bold;
    color: #0080FF;
}
.header {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #dee1e6;
    overflow: hidden;
		position: fixed;
		left: 0;
    top: 0;
		zoom: 1;
		z-index: 9999;
		background-color: #fff;
}
.header .main .lf{
  width: 60%;
}
.header .main .lf li {
    float: left;
    padding-right: 15px;
}
.header .main .lf li:first-child{
  max-width:20%;
  overflow: hidden;
  text-overflow: ellipsis;/*单行溢出文本显示省略号*/
  white-space: nowrap;/*规定段落中的文本不进行换行*/

}
.header .main .lf li .caption{
    color: rgba(237, 83, 15, 0.9);
}
.header .main .lf  a:hover{text-decoration:underline;color:#339900;}

.header .main .lf .nav-link {
  position: relative;
  text-decoration: none;
}
.header .main .lf .nav-counter {
  position: absolute;
  top: 12px;
  right: 4px;
  min-width: 8px;
  height: 12px;
  line-height: 12px;
  margin-top: -10px;
  padding: 0 2px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
  background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
  background-image: -o-linear-gradient(top, #e8616c, #dd202f);
  background-image: linear-gradient(to bottom, #e8616c, #dd202f);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.header .main .lf .nav-counter-green {
  background: #75a940;
  border: 1px solid #42582b;
  background-image: -webkit-linear-gradient(top, #8ec15b, #689739);
  background-image: -moz-linear-gradient(top, #8ec15b, #689739);
  background-image: -o-linear-gradient(top, #8ec15b, #689739);
  background-image: linear-gradient(to bottom, #8ec15b, #689739);
}

.header .main .lf .nav-counter-blue {
  background: #3b8de2;
  border: 1px solid #215a96;
  background-image: -webkit-linear-gradient(top, #67a7e9, #2580df);
  background-image: -moz-linear-gradient(top, #67a7e9, #2580df);
  background-image: -o-linear-gradient(top, #67a7e9, #2580df);
  background-image: linear-gradient(to bottom, #67a7e9, #2580df);
}

.nav {

    background-color: #208181;
    height: 30px;
    padding: 10px 0;
    clear: both;
}
.nav ul{
  padding-left: 10px;
}

.nav li {
    float: left;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

.nav  li a {
    color: #fff;
}
.nav li a:hover {
	color: #ffa467
}

.jilu {
    height: 38px;
    line-height: 38px;
    background-color: #ddf5f9;

}
.jilu_l{
  font-size: 14px;
  float: left;
  width: 584px;
  height: 38px;
  overflow: hidden;
  background: url(/webdashubao/images/pic.png) 8px -386px no-repeat;
  padding-left: 30px;
}
.jilu_l .sm {
    font-weight: bold;
    color: #004e7a;
}
.jilu_l .zj {
    color: #ff6600;
}

.idx_qd {
    margin: 10px auto;
    height: 35px;
    background-color: #fffbe7;
    border: 1px solid #ffc081;

}
.idx_qd .title {
    float: left;
    line-height: 35px;
    background: url(/webdashubao/images/pic.png) 10px -429px no-repeat;
    width: 70px;
    height: 35px;
    padding-left: 15px;
    color: #fff;
}
.idx_qd .gundong {
    float: left;
    width: 778px;
    height: 35px;
    overflow: hidden;
}
.gundong li{
  float: left;
  line-height: 35px;
  height: 35px;
  width: 194px;
  color: #555;

}
.gundong li span{
  color: #ff6600;
  padding: 0px 4px;
}

.idx_qd .qiandao {
    float: right;
    background: url(/webdashubao/images/pic.png) 0px -487px no-repeat;
    width: 85px;
    height: 24px;
    margin: 5px;
}
.idx_qd .qiandao a {
    color: #fff;
    line-height: 25px;
    padding-left: 28px;
    display: block;
}

.logo a {
    height: 90px;
    float: left;
    width: 300px;
    background: url(/webdashubao/images/logo.png) no-repeat;
    text-indent: -9999px;
    margin: 10px 0;

}
.seach {
    float: left;
    padding-top: 32px;
    overflow: visible;


}
.seach *{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  float: none;
  clear: none;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  border: 0;
  background: 0 0;
  width: auto;
  height: auto;
  max-width: none;
  min-width: none;
  max-height: none;
  min-height: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
  text-align: left;

}
.seach-main{
  display: block;
  overflow: visible;
  position: relative;
  border-style: solid;
  width: 561px;
  height: 36px;
  overflow: hidden;
  border-color: #208181;
  border-radius: 0px;
  border-width: 1px;
  box-shadow: none;
  background-color: #208181;

}
.search-text{
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  vertical-align: top;
  text-indent: 5px;
  float: left;

  border-color: #FFFFFF;
  margin-right: -1px;
  width: 498px;
  height: 34px;
  line-height: 34px;
  font-family: Arial,SimSun,sans-serif;
  color: #000000;
  font-size: 14px;
  border-radius: 0px;
  background-color: #FFFFFF;
	outline: none;

}
.search-bnt{
  display: inline-block;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  vertical-align: top;
  text-align: center;

  border-color: #208181;
  height: 34px;
  width: 60px;
  background-color: #208181;
  color: #ffffff;
  font-family: Arial,SimSun,sans-serif;
  font-size: 16px;
  border-radius: 0px;

  line-height: 34px;

}

.suggest{z-index:9999;width:561px; background-color:#fff;position:absolute;margin:0;padding:0;border-width:1px;border-style:solid;border-color: #999;overflow: hidden;}
.suggest ul{list-style:none;display:block;margin:0;padding:0}
.suggest ul li {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding:3px;line-height:25px;font-size: 14px;color: #777;cursor: pointer;padding:3px;}
.suggest ul li:hover{background-color:#e5e5e5;text-decoration: underline;}
.suggest ul li span{color: red; padding-right: 5px;}
.suggest strong{color:#000;}

.footer {
    border-top: 2px solid #49a9a9;
    margin: 0 auto;
    width: 960px;
    text-align: center;
    padding: 10px 0;
}
.footer p {
    line-height: 23px;
}







.main_tab {
    margin: 10px auto;
    width: 960px;
    overflow: hidden;
    clear: both;
}
.main_tab .tab {
    width: 960px;
    height: 37px;
    margin: 0px auto;
    border-bottom: #dbe7ce 1px solid;
}
.tab li {
    float: left;
    overflow: hidden;
}
.tab .log {
    bottom: -1px;
    text-align: center;
    padding-top: 13px;
    background: url(/webdashubao/images/loginbg.png) no-repeat;
    width: 181px;
    height: 25px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
.tab-d {
    width: 958px;
    height: 529px;
    margin: 0px auto;
    border-bottom: #dbe7ce 1px solid;
    border-left: #dbe7ce 1px solid;
    border-right: #dbe7ce 1px solid;
}
.tab-l {
    padding: 20px 20px 20px 20px;
    float: left;
    overflow: hidden;
    width: 617px;
}
.tab-l ul {
    width: 617px;
    height: 30px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab-l li {
    float: left;
    padding: 5px 10px 0px 0px;
    line-height: 22px;
    font-size: 12px;
}
.tab-l .ckl {
    width: 100px;
    text-align: right;
}
.tab-l .ckr {
    margin-top: 5px;
}
.tab-l .ckz input {
    background: url(/webdashubao/images/loginbg.png) no-repeat 0 -192px;
    height: 27px;
    border: #ddd 1px solid;
    padding: 3px 5px 1px;
    font-size: 16px;
    width: 226px;
    color: #390;
    line-height: 22px;
}
.tab-l .button {
    margin: 0px auto;
    width: 300px;
    padding-top: 30px;
}
.tab-l .btn {
    background: url(/webdashubao/images/loginbg.png) no-repeat -150px -114px;
    width: 150px;
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.tab-l .btn:hover{background:url(/webdashubao/images/loginbg.png) no-repeat -150px -153px;}

.tab-l .button a {
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 0px;
    color: #339900;
    text-decoration: underline;
    padding-top: 4px;
}
.tab-l .button a:hover {text-decoration:none}


.tab-r {
    float: right;
    overflow: hidden;
    width: 300px;

}
.tab-r dl {
    background-color: #eaf8ff;
    padding: 30px 0 30px 50px;
}
.tab-r dl dt {
    font-size: 24px;
    font-weight: bold;
    color: #208181;
}

.tab-r dl dd {
    height: 45px;
    line-height: 45px;
}

.tab-r dl dd a {
    border-radius: 3px;
    display: block;
    border: 1px solid #e98b00;
    width: 118px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #f1b100;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.tab-r dl dd a:hover{background-color:#ef9000}



.fengtui {
    width: 958px;
    height: 390px;
    margin: 0 auto 10px;
    border: 1px solid #dee1e6;
    clear: both;
}
.fengtui .title{
  position: relative;
  padding: 15px 13px 14px 13px;
  border-bottom: 1px solid #f0f0f0;
  border-left: 6px solid #ffab18;
}
.fengtui .title p{
  position: relative;
  font: bold 13px/13px a;
  color: rgba(0, 0, 0, 0.9);
}

.fengtui .title p > i{
  position: absolute;
  margin: -1px 0 0 5px;
  padding: 3px 5px 2px 5px;
  font: 9px/9px a;
  color: #fff;
  background: #53ac7d;
  border-radius: 1px;
}

.fengtui dl {
  float: left;
  width: 303px;
  height: 155px;
  padding: 8px;
  overflow: hidden;

}
.fengtui dl a:hover {
	color: #ffa467
}
.fengtui dl dt{
  width: 120px;
  height: 150px;
  float: left;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 225, 230);
  border-image: initial;
  padding: 1px;
  position: relative;
  border-radius: 1px;
  overflow: hidden;

}
.fengtui dl dt img {
    width: 100%;
    height: 100%;
    border-radius: 1px;
}
.fengtui dl dt p {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    font: 10px/10px a;
    padding: 25px 7px 6px;
    color: #fff;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));
}

.fengtui dl dd {
    float: right;
    width: 169px;
    box-sizing: border-box;
}
.fengtui dl dd h3 {
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: normal;
    width:65%;

    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}

.fengtui dl dd span {
    float: right;
    font-size: 12px;
    height: 28px;
    line-height: 28px;

    width:30%;

    overflow: hidden;
    text-overflow: ellipsis;单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}

.fengtui dl dd p {
    clear: both;
    line-height: 23px;
    padding-top: 8px;
    color: rgb(153, 153, 153);
    border-top: 1px dotted rgb(221, 221, 221);
    overflow: hidden;
    display: -webkit-box;/*多行文字溢出*/
    -webkit-line-clamp: 5;/*多行文字几行*/
    -webkit-box-orient: vertical;/*溢出就用...*/
}

.tuijian {
    width: 958px;
    clear: both;
    margin: 0px auto 10px;
    border: 1px solid #d0e2d0;
    overflow: hidden;
    background: url(/webdashubao/images/bg.png) 0px -184px repeat-x;
}
.tuijian .title{
  padding-left: 13px;
  height: 40px;
  line-height: 40px;
  color: #18639e;
  font-size: 14px;
  font-weight: bold;
}
.tuijian-cove{
    float: left;
    width: 208px;
    overflow: hidden;
    padding: 13px;
    position: relative;
}

.tuijian-cove img {
    display: block;
    padding: 2px 4px 4px 2px;
    height: 250px;
    width: 200px;
    background: url(/webdashubao/images/hb.png) no-repeat;
}

.note_adds {
    float: left;
    display: block;
    width: 100%;
    height: 23px;
    margin-top: -23px;
    position: relative;
    z-index: 2;
}

.note_bg {
    width: 199px;
    height: 23px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    left: 3px;
    top: -4px;
}
.note_name {
    width: 55%;
    height: 23px;
    line-height: 23px;
    color: #fff;
    font-family: 'Microsoft YaHei';
    text-align: left;
    padding-left: 6px;
    position: absolute;
    left: 0px;
    top: -3px;
    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}

.note_text {
    width: 40%;
    height: 23px;
    line-height: 23px;
    color: #fff;
    font-family: 'Microsoft YaHei';
    position: absolute;
    right: 8px;
    top: -3px;

    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}

.tuijian-cove .info {
    display: block;
    height: 60px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
}
.tuijian ul {
    float: left;
    overflow: hidden;
    width: 720px;
}

.tuijian ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #e5e5e5;
    width: 216px;
    margin: 0px 10px;
    overflow: hidden;
}

.tuijian ul li a {
    padding-left: 5px;
    display: block;
    color: #666;

}
.tuijian ul li a:hover{text-decoration:none;background-color:#f5fbf5;}
.tuijian ul li span {
    float: right;
    color: #999999;
    padding-right: 5px;

}

.update {
    width: 958px;
    clear: both;
    margin: 0px auto 10px;
    border: 1px solid #d0e2d0;
    overflow: hidden;
    background: url(/webdashubao/images/bg.png) 0px -184px repeat-x;
}
.update .title{
  padding-left: 13px;
  height: 40px;
  line-height: 40px;
  color: #18639e;
  font-size: 14px;
  font-weight: bold;
}

.update dl {
  float: left;
  width: 303px;
  height: 155px;
  padding: 8px;
  overflow: hidden;
}
.update dl a:hover {
	color: #ffa467
}
.update dl dt{
  width: 120px;
  height: 150px;
  float: left;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 225, 230);
  border-image: initial;
  padding: 1px;
  position: relative;
  border-radius: 1px;
  overflow: hidden;

}

.update dl dt img {
    width: 100%;
    height: 100%;
    border-radius: 1px;
}
.update dl dt p {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    font: 10px/10px a;
    padding: 25px 7px 6px;
    color: #fff;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));
}
.update dl dd {
    float: right;
    width: 169px;
    box-sizing: border-box;
}
.update dl dd h3 {
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: normal;
    width:65%;

    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}

.update dl dd span {
    float: right;
    font-size: 12px;
    height: 28px;
    line-height: 28px;

    width:30%;

    overflow: hidden;
    text-overflow: ellipsis;单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}
.update dl dd p {
    clear: both;
    line-height: 23px;
    padding-top: 8px;
    color: rgb(153, 153, 153);
    border-top: 1px dotted rgb(221, 221, 221);
    overflow: hidden;
    display: -webkit-box;/*多行文字溢出*/
    -webkit-line-clamp: 5;/*多行文字几行*/
    -webkit-box-orient: vertical;/*溢出就用...*/
}
.update .book-h5__order {
    position: absolute;
    left: 3px;
    top: 0;
    padding: 5px 3px 0 4px;
    height: 17px;
    width: 12px;
    font: 8px/0.8em a;
    color: #fff;
    background: url(/webdashubao/images/V3CAzyZh.png) no-repeat;
    background-size: 15px 22px;
}



.update ul {
    padding: 0 8px;

}
.update ul li {
    padding: 17px 0 17px 2px;
    border-bottom: 1px solid #f0f0f0;
}
.update ul li:first-child{
  border-top: 1px dotted #f0f0f0;
}
.update ul li:last-child {
    border-bottom: none;
}


.update-list {
    overflow: hidden;
}
.update-list span {
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/

}
.update-list span a:hover {
	color: #ffa467
}
.update-list .nb {
    width: 30px;
    margin-top: 1px;

    color: rgba(237, 83, 15, 0.9);

}

.update-list span.sm {
    width: 220px;
}
.update-list span.zj {
    width: 420px;
}
.update-list span.zz {
    width: 120px;
    text-align: right;
}
.update-list span.sj {
    float: right;
    width: 120px;
    text-align: right;
}
.link {
    width: 948px;
    border: 1px dashed #dee1e6;
    margin: 20px auto;
    overflow: hidden;
    padding: 5px;
}
.link a {
    color: #999;
    height: 23px;
    line-height: 23px;
    padding-left: 8px;
}





.jieshao {
  width: 928px;
  margin: 10px auto;
  border: 1px solid #dee1e6;
  overflow: hidden;
  padding: 15px;
}
.jieshao-cove{
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 190px;

  background-color: #eeece9;
  box-shadow: 0px 6px 5px -3px #aaa;
  border: 1px solid #dee1e6;

}
.jieshao .jieshao-cove img {
  width: 100%;
  height: 100%;
}

.jieshao .jieshao-main {
    width: 764px;
}
.jieshao .jieshao-main h1 {
    line-height: 35px;
    height: 30px;
    font-size: 24px;
    color: #333;

    overflow: hidden;
  	text-overflow: ellipsis;/*单行溢出文本显示省略号*/
  	white-space: nowrap;/*规定段落中的文本不进行换行*/
}
.jieshao .jieshao-main .msg {
    width: 760px;
    height: 30px;
    overflow: hidden;
}

.jieshao .jieshao-main .msg em {
    padding-right: 20px;
    height: 30px;
    line-height: 30px;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}
.jieshao .jieshao-main .msg em a {
    color: #208181;
}
.jieshao .jieshao-main .msg em a:hover {
	color: #e98b00
}
.jieshao .jieshao-main .info {
    padding-top: 5px;
		padding-bottom: 5px;
    overflow: hidden;
}
.jieshao .jieshao-main .info a {
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
    color: #fff;
    line-height: 23px;
    border-radius: 3px;
    height: 23px;
    width: 70px;
    background-color: #28cde0;
    border: 1px solid #53d7e6;
}

.jieshao .jieshao-main .info a:hover {
	background-color: #ce6535;
	border: 1px solid #d98b65
}

.jieshao .jieshao-main .intro {
    margin-top: 5px;
    border-top: 1px dashed #208181;
    padding-top: 5px;
    line-height: 23px;
    font-size: 13px;
    clear: both;
    /*下面3个控制多行*/
    overflow: hidden;
    display: -webkit-box;/*多行文字溢出*/
    -webkit-line-clamp: 4;/*多行文字几行*/
    -webkit-box-orient: vertical;/*溢出就用...*/
}
.jieshao .tags_wrap{
  margin: 10px 0px 10px;
  padding-top: 3px;
  overflow: hidden;
}

.jieshao .tags_wrap a {
  float: left;
  margin: -3px 7px 0 0;
  padding: 3px 6px 2px;
  max-width: 7em;
  font: 10px/11px a;
  color: #53ac7d;
  border: 1px solid #53ac7d;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jieshao .tags_wrap .tag :last-child {
	margin-right:0px;
}

.mulu {
    width: 930px;
    margin: 0 auto 5px;
    border: 1px solid #dee1e6;
    overflow: hidden;
    padding: 14px;
    border-top: 3px solid #208181;
}
.mulu dt {
    clear: both;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #208181;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.mulu dt:not(:first-child) {
  border-top: 1px solid #208181;
  padding: 5px 0 5px 5px;
}
.mulu dd {
    float: left;
    width: 298px;
    height: 35px;
    line-height: 35px;
    display: block;
    padding: 0 6px;
    overflow: hidden;
}

.mulu dd a {
    display: block;
    height: 34px;
    border-bottom: 1px dotted #dee1e6;
    text-indent: 12px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mulu dd a:hover {
	background-color: #e8f2f2;
	color: #208181
}

.mulu dd a:visited {
	color: red
}

/*阅读页*/
.read_t {
    width: 958px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    overflow: hidden;
}
.read_b {
    width: 958px;
    margin: 0 auto;
    border: 1px solid #dee1e6;
    border-top: 2px solid #208181;
    height: 35px;
    padding-top: 10px;
}
.read_b .shuqian {
    float: left;
    padding-left: 5px;
}
.read_b .shuqian a {
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
    color: #fff;
    line-height: 23px;
    border-radius: 3px;
    height: 23px;
    width: 70px;
    background-color: #28cde0;
    border: 1px solid #53d7e6;
}
.read_b .shuqian a:hover {
	background-color: #ce6535;
	border: 1px solid #d98b65
}
.read_b .input{height:23px;width:33px;line-height:23px;border:1px solid #dee1e6;text-align:center;float:left;}
.read_b .vote{float:left;padding-left:5px;}
.read_b .vote a{display:block;text-align:center;color:#fff;line-height:23px;border-radius:3px;height:23px;width:45px;background-color:#ce6535;border:1px solid #d98b65;}
.read_b .vote a:hover{background-color:#28cde0;border:1px solid #53d7e6;}

.novel {
    width: 928px;
    padding: 15px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #dee1e6;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.novel h1 {
    font-size: 24px;
    color: #000;
    line-height: 45px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
}
.novel .pereview {
    margin: 5px auto;
    clear: both;
    overflow: hidden;
    width: 366px;
}
.novel .pereview a {
    float: left;
    display: block;
    width: 110px;
    height: 28px;
    line-height: 28px;
    margin: 5px;
    background-color: #f8f8f8;
    border: 1px solid #d9d9d9;
    color: #666;
    font-size: 14px;
}

.novel .yd_text2 {
    line-height: 35px;
    text-align: left;
    overflow: hidden;
}

.novel .yd_text2 p{
     text-indent:2em;
     padding:10px 0;
}

.novel .divimage{text-align:center;}
/*阅读页背景插件*/
.bgs {
    float: right;
    position: relative;
}
.bgs ul {
    position: relative;
    float: left;
    width: 60px;
    border: 1px solid #ddd;
    margin-right: 6px;
    line-height: 20px;
    height: 20px;
}
.bgs li {
    width: 60px;
    overflow: hidden;
    line-height: 20px;
}
.bgs .textm {
    width: 55px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    padding: 0;
    background: #fff;
    line-height: 20px;
    cursor: default;
    padding-left: 5px;
}
.bgs .btn {
    position: absolute;
    width: 18px;
    height: 22px;
    right: -1px;
    top: -1px;
    display: inline-block;
    background: url(/webdashubao/images/ydbg.gif) no-repeat -48px 0;
}
.bgs .select {
    border-top: 1px solid #ddd;
    background: #fff;
    position: absolute;
    top: 20px;
    display: none;
    z-index: 9999;
}
.bgs .select p {
    padding-left: 5px;
    line-height: 20px !important;
    height: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: 0;
    cursor: pointer;
    position: relative;
    font-size: 12px;
}
.ud_but1,.ud_but2,.ud_but11,.ud_but22{float:left;text-align:center;width:44px;height:22px;line-height:22px;border:0px;margin-right:6px;cursor:pointer;}
.ud_but1{background:url(/webdashubao/images/ydbg.gif) no-repeat 0px -24px;color:#000;}
.ud_but11{background:url(/webdashubao/images/ydbg.gif) no-repeat 0px -48px;color:#ff6600;}
.ud_but2{background:url(/webdashubao/images/ydbg.gif) no-repeat;color:#fff;}
.ud_but22{background:url(/webdashubao/images/ydbg.gif) no-repeat 0px -72px;color:#fff;}
/*背景颜色*/
.bg_huang{background:#FFFFED}
.bg_huang .yd_text2 p{background:#FFFFED}
.bg_lan{background:#E9FAFF;}
.bg_lan .yd_text2 p{background:#E9FAFF;}
.bg_lv{background:#efffeb;}
.bg_lv .yd_text2 p{background:#efffeb;}
.bg_fen{background:#FCEFFF;}
.bg_fen .yd_text2 p{background:#FCEFFF;}
.bg_bai{background:#fff;}
.bg_bai .yd_text2 p{background:#fff;}
.bg_hui{background:#efefef;}
.bg_hui .yd_text2 p{background:#efefef;}
.bg_hei{background:#000;}
.bg_hei .yd_text2 p{background:#000;}
.bg_cao{background:#CCE8CF;}
.bg_cao .yd_text2 p{background:#CCE8CF;}
.bg_cha{background:#D2B48C;}
.bg_cha .yd_text2 p{background:#D2B48C;}
.bg_yin{background:#F5F5F5;}
.bg_yin .yd_text2 p{background:#F5F5F5;}
.bg_mi{background:#F5F5DC;}
.bg_mi .yd_text2 p{background:#F5F5DC;}
/*字体大小*/
.fon_12 {font-size:12px;}
.fon_14 {font-size:14px;}
.fon_16 {font-size:16px;}
.fon_18 {font-size:18px;}
.fon_20 {font-size:20px;}
.fon_24 {font-size:24px;}
.fon_30 {font-size:30px;}
/*字体颜色*/
.z_hei {color:#000;}
.z_hui{color:#666;}
.z_red {color:#ff0000;}
.z_lan {color:#0066CC;}
.z_lan {color:#0066CC;}
.z_lv {color:#22b600;}
.z_li {color:#800000;}
.z_wu {color:#F5F5F5;}
.z_zi {color:#9370DB;}
.z_he {color:#BC8F8F;}
/*字体样式*/
.fam_song{font-family:"SimSun",宋体;}
.fam_hei{font-family:"SimHei",黑体;}
.fam_kai{font-family:"KaiTi",楷体;}
.fam_qi{font-family:方正启体简体;}
.fam_ya{font-family:"Microsoft YaHei",微软雅黑;}


.tuijianwrapper {
    margin: 10px 0;
    position: relative;
    padding: 0 15px;
		color: #999;
		font-size: 16px;
}

.tuijianwrapper li {
    margin-bottom: 10px;
}
.tuijianwrapper li input {
    display: inline-block;
    margin: -3px 5px 0;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
}
