* {
	margin: 0;
	padding: 0;
	list-style: none
}

img {
	border: 0
}

body {
	font-size: 12px;
	font-family: "Microsoft YaHei","微软雅黑","宋体";
	background-color: #fff;
	color: #333
}

a {
	color: #333;
	text-decoration: none;
	outline: 0
}

a:hover {
	color: #360
}
em {
    font-style: normal;
}

.main,.grid {
	width: 960px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}

.lf {
	float: left
}

.rt {
	float: right
}
.re{
  position: relative;
}

.p-tag{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1.4;
	background-color: #ef6c2c;
	color: #fff;
	width: 100%;
	-webkit-transform-origin: top center;
	-webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
	font-size: 1.0rem;
	text-align: center;
}

.online{
	overflow: hidden;
	text-overflow: ellipsis;/*单行溢出文本显示省略号*/
	white-space: nowrap;/*规定段落中的文本不进行换行*/

}
.f-cb:after{
    clear:both;
    content: '';
    display: block;
    height: 0;
    overflow:hidden;
    visibility: hidden;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; /*初始状态 透明度为0*/
  }
  30% {
    opacity: 0.3; /*初始状态 透明度为0*/
  }
  50% {
    opacity: 0.5; /*中间状态 透明度为0*/
  }
  80% {
    opacity: 0.8; /*中间状态 透明度为0*/
  }
  100% {
    opacity: 1; /*结尾状态 透明度为1*/
  }
}
.Displayanimation
{
  -webkit-animation-name: fadeIn; /*动画名称*/
  -webkit-animation-duration: 2s; /*动画持续时间*/
  -webkit-animation-iteration-count: 1; /*动画次数*/
  -webkit-animation-delay: 0s; /*延迟时间*/
}
