* {box-sizing: border-box;}
*[hidefocus],input,textarea,a{outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
caption,th{font-weight:normal;font-style:normal;text-align:left;}
em,strong{font-weight:bold;font-style:normal;}
body,textarea,select,input,pre{font-family: "miui", "Helvetica Neue",Helvetica,STHeiTi,sans-serif;font-size:14px;color:#555;}
body{background:#f8f8f8;line-height:1.5em;-webkit-text-size-adjust:none;}
a,button{cursor:pointer;}
textarea{resize:none;overflow:auto;}
pre{white-space:pre-wrap;}
a{color:#333;text-decoration:none;}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}
html{width:100%;height: 100% ;overflow-x:hidden;font-size: 10px;}
body{background:rgba(255, 255, 255, 0);position:relative;text-align:left;width:100%;height:100%;-webkit-tap-highlight-color: rgba(0,0,0,0.05);-webkit-touch-callout:none;-webkit-user-select:none;}

body{
    -webkit-overflow-scrolling: touch;
}
.online{
	overflow: hidden;
	text-overflow: ellipsis;/*单行溢出文本显示省略号*/
	white-space: nowrap;/*规定段落中的文本不进行换行*/

}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25px;
  width: 10px;
  border-radius: 10%;
  background: #2c3e50;
  border-top-color: #2980b9;
  -webkit-animation: fade2 1s infinite;
          animation: fade2 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:after, .loading:before {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 10px;
  background: #2c3e50;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  border-radius: 10%;
  -webkit-animation: fade1 1s infinite;
          animation: fade1 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:before {
  left: 15px;
  -webkit-animation: fade3 1s infinite;
          animation: fade3 1s infinite;
}

@-webkit-keyframes fade1 {
  0% {
    background: #2980b9;
  }
}

@keyframes fade1 {
  0% {
    background: #2980b9;
  }
}
@-webkit-keyframes fade2 {
  33% {
    background: #2980b9;
  }
}
@keyframes fade2 {
  33% {
    background: #2980b9;
  }
}
@-webkit-keyframes fade3 {
  66% {
    background: #2980b9;
  }
}
@keyframes fade3 {
  66% {
    background: #2980b9;
  }
}

/* 字体文件 */

@font-face {font-family: "iconfont";
  src: url('/fonts/iconfont.eot?t=1493438234518'); /* IE9*/
  src: url('/fonts/iconfont.eot?t=1493438234518#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/iconfont.woff?t=1493438234518') format('woff'), /* chrome, firefox */
  url('/fonts/iconfont.ttf?t=1493438234518') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/fonts/iconfont.svg?t=1493438234518#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; /*初始状态 透明度为0*/
  }
  30% {
    opacity: 0.3; /*初始状态 透明度为0*/
  }
  50% {
    opacity: 0.5; /*中间状态 透明度为0*/
  }
  80% {
    opacity: 0.8; /*中间状态 透明度为0*/
  }
  100% {
    opacity: 1; /*结尾状态 透明度为1*/
  }
}
.Displayanimation
{
  -webkit-animation-name: fadeIn; /*动画名称*/
  -webkit-animation-duration: 2s; /*动画持续时间*/
  -webkit-animation-iteration-count: 1; /*动画次数*/
  -webkit-animation-delay: 0s; /*延迟时间*/
}

.f-cb:after{
    clear:both;
    content: '';
    display: block;
    height: 0;
    overflow:hidden;
    visibility: hidden;
}
.ishide{
  display:none;
}

.header{
  background: #efeff0;
  padding: 0px 90px;
  border-bottom: 1px solid #ddd;
  line-height: 44px;
  height: 44px;
  text-align: center;
  position:fixed; /* 绝对定位，fixed是相对于浏览器窗口定位。 */
  top:0; /* 距离窗口顶部距离 */
  left:0; /* 距离窗口左边的距离 */
  width:100%; /* 宽度设置为100% */
  z-index:99; /* 层叠顺序，数值越大就越高。页面滚动的时候就不会被其他内容所遮挡。 */
  box-sizing: border-box;
}

.header i{
  bottom: -1px;
}
.header i:before{
  content: '';
  display: block;
  height: 2px;
  width: 34px;
  margin:0 auto;
  background: #777;
}

.header a:before{
  content: '\4e66\67b6';
  display:block;
  margin: 0 auto;
  width:2em;

}

.header a:first-child:before{
     content: '\4e66\57ce';
}
.Swipe-tab{
  position: relative;
  overflow: hidden;
  z-index: 1;

}
.Swipe-tab a{
  float: left;
  text-align: center;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.Swipe-tab_2 a{
  width: 50%;
}
.Swipe-tab i {
    position: absolute;
    left: 0;
    -webkit-transition:-webkit-transform .3s ease-out;
}
.Swipe-tab__on{
    color: #ff6600;
}
.header-user {
    position: absolute;
    right: 0px;
    top:0px;
    width: 44px;
    height: 44px;
    background: url(/wapdashubao/images/user.png) no-repeat center;
    background-size: 16px;
}
.header-checkin{
    position: absolute;
    left: 0px;
    top:0px;
    width: 44px;
    height: 44px;
    background: url(/wapdashubao/images/checkin.png) no-repeat center;
    background-size: 22px;
}

.container-warp{
			overflow: hidden;
			position: relative;
		}

    .container-scroll {
        position: absolute;
        top: 45;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;

    }



.i-top{
    background: #fff;
    border-bottom: 10px solid #f5f5f5;
    }
    .i-top-search{
      margin: 10px 13px;
      padding: 1px 0 0 30px;
      border: 1px solid #f5f5f5;
      background: url(/wapdashubao/images/search.png) no-repeat 8px center;
      background-size: 14px;
      border-radius: 2px;
      font: 11px/33px a;
      color: rgba(0, 0, 0, 0.4);
    }

    .i-top-bnt{
      margin: 14px 0 4px;
      display: -webkit-box;
      width: 100%;
    }
    .i-top-bnt li{
      font-size: 12px;
      line-height: 2.4;/*字体X2.4*/
      text-align: center;
      -webkit-box-flex: 1;
    }
    .i-top-bnt-icon{
      height: 22px;
      width: 22px;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 22px;
      display: block;
      vertical-align: -5px;

    }
    .i-top-bnt-title{


    }


.i-hot{
  position: relative;
  background: #fff;
  border-bottom: 10px solid #f5f5f5;
}
  .i-hot-header{
    position: relative;
    padding: 10px 14px;
    border-bottom: 1px solid #f0f0f0;
    border-left: 6px solid #ffab18;
  }
  .i-hot-header-title{
    font-size: 16px;
    font-weight: normal;
    color: #333;
  }


  .i-hot-list{
    padding: 13px 14px 5px;
    font-size: 0px;
  }
  .i-hot-list li{
    width:33.3%;
    display:inline-block;
    vertical-align:top;
    line-height: 1;
    margin-bottom: 8px;

  }
  .i-hot-list li>*{
    display: inline-block;
  }
  .i-hot-list li:nth-child(3n+1){text-align:left;}
  .i-hot-list li:nth-child(3n+2){text-align:center;}
  .i-hot-list li:nth-child(3n+3){text-align:right;}


  .i-hot-list-wrap{
    position : relative;
    overflow: hidden;
    width: 86px;
  }
  .i-hot-list-wrap-cover{
    position: relative;
    width: 86px;
    height: 113px;
    background-color: #eeece9;
    box-shadow: 0px 6px 5px -3px #aaa;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    overflow: hidden;
  }
  .i-hot-list-wrap-cover img{
    width: 100%;
    height: 100%;
  }
  .i-hot-list-wrap-info{
    padding-top: 8px;
  }
  .i-hot-list-wrap-info-title{
    font-size: 13px;
    line-height: 1.4em;
    max-height: 2.8em;
    color: #8d8d8d;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/

  }
  .p-tag {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1.4;
      background-color: #ef6c2c;
      color: #fff;
      width: 100%;
      -webkit-transform-origin: top center;
      -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
      font-size: 1.4rem;
      text-align: center;
  }
  .p-tag.-word{
    background-color: #49ab3f;

  }
  .p-tag.-word:before{
    content: '\65b0\4e66';
  }


.i-cl{
  background: #fff;
  border-bottom: 10px solid #f5f5f5;
  position: relative;
}
  .i-cl-header{
    position: relative;
    padding: 15px 13px 14px 13px;
    border-bottom: 1px solid #f0f0f0;
  }
  .i-cl-header-title{
    position: relative;
    font: bold 13px/13px a;
    color: rgba(0, 0, 0, 0.9);
  }
  .i-cl-header-title > i{
    position: absolute;
    margin: -1px 0 0 5px;
    padding: 3px 5px 2px 5px;
    font: 9px/9px a;
    color: #fff;
    background: #53ac7d;
    border-radius: 1px;
  }

  .i-cl-list{
    padding: 0 13px;

  }
  .i-cl-list li{
    padding: 17px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  .i-cl-list li:last-child {
      border: none;
  }
  .i-cl-list-main{
    overflow: hidden;
  }

  .i-cl-list-main-left{
    position: relative;
    float: left;
    width: 85px;
    height: 113px;
    background-color: #eeece9;/*书没加载出来有个背景色*/
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    overflow: hidden;
  }
  .i-cl-list-main-left img {
      width: 100%;
      height: 100%;
      border-radius: 1px;
  }
  .i-cl-list-main-left-state{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;/* border和padding计算入width之内*/
    font: 10px/10px a;
    padding: 25px 7px 6px;
    color: #fff;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));

  }
  .i-cl-list-main-right{
      margin-left: 100px;
      padding-top: 6px;
      background: #fff;
  }
  .i-cl-list-main-right-bookname{
    margin-bottom: 4px;
    font: 16px/17px a;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    text-overflow: ellipsis;/*单行溢出文本显示省略号*/
    white-space: nowrap;/*规定段落中的文本不进行换行*/
  }
  .i-cl-list-main-right-author{
    margin-top: 8px;
    font: 12px/12px a;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .i-cl-list-main-right-info{
    margin: 8px 0 0;
    height: 2.8em;
    font: 12px/1.4em a;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    /*下面3个控制多行*/
    display: -webkit-box;/*多行文字溢出*/
    -webkit-line-clamp: 2;/*多行文字几行*/
    -webkit-box-orient: vertical;/*溢出就用...*/
  }

  .i-cl-list-main-right-tags{
    margin-top: 10px;
    padding-top: 3px;
    overflow: hidden;
  }
  .i-cl-list-main-right-tags-tag{
    float: left;
    margin: -3px 7px 0 0;
    padding: 3px 6px 2px;
    font: 10px/11px a;
    color: #53ac7d;
    border-radius: 3px;
    border: 1px solid #53ac7d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 6em;
  }
  .i-cl-list-main-right-tags-tag:last-child {
      margin-right: 0;
  }

.i-up{
  background: #fff;
  border-bottom: 10px solid #f5f5f5;
  position: relative;
}
    .i-up-header{
      position: relative;
      padding: 15px 13px 14px 13px;
      border-bottom: 1px solid #f0f0f0;
    }
    .i-up-header-title{
      position: relative;
      font: bold 13px/13px a;
      color: rgba(0, 0, 0, 0.9);
    }
    .i-up-header-title > i{
      position: absolute;
      margin: -1px 0 0 5px;
      padding: 3px 5px 0 5px;
      font: 9px/9px a;
      color: #fff;
      background: #53ac7d;
      border-radius: 1px;
    }
    .i-up-header-tab{
      position: absolute;
      top: 9px;
      right: 13px;

    }
    .i-up-header-tab a{
      position: relative;
      font: 12px/12px a;
      color: #999;
      padding: 16px 7px;
      -webkit-tap-highlight-color:rgba(0,0,0,0);

    }
    .i-up-header-tab a:after{
      content: '';
      position: absolute;
      top: 16px;
      bottom: 16px;
      right: 0;
      width: 1px;
      border-right: solid 1px #ccc;
    }
    .i-up-header-tab a:last-child {
        padding-right: 0;
        padding-left: 0;

    }
    .i-up-header-tab a:last-child:after {
        display: none;
    }
    .i-up-header-tab-select{
      color: #528ae8 !important;/*important防止被覆盖*/
    }

    .i-up-list{
      padding: 0 13px;

    }
    .i-up-list li{
      padding: 17px 0;
      border-bottom: 1px solid #f0f0f0;
    }
    .i-up-list li:last-child {
        border: none;
    }
    .i-up-list-main{
      overflow: hidden;

    }

    .i-up-list-main-left{
      position: relative;
      float: left;
      width: 85px;
      height: 113px;
      background-color: #eeece9;/*书没加载出来有个背景色*/
      border: 1px solid #f0f0f0;
      border-radius: 1px;
      overflow: hidden;
    }

    .i-up-list-main-left img {
        width: 100%;
        height: 100%;
        border-radius: 1px;
    }
    .i-up-list-main-state{
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      font: 10px/10px a;
      padding: 25px 7px 6px;
      color: #fff;
      background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));

    }
    .i-up-list-main-right{
        margin-left: 100px;
        padding-top: 6px;
        background: #fff;
    }
    .i-up-list-main-right-bookname{
      margin-bottom: 4px;
      font: 16px/17px a;
      color: rgba(0, 0, 0, 0.9);
      overflow: hidden;
      text-overflow: ellipsis;/*单行溢出文本显示省略号*/
      white-space: nowrap;/*规定段落中的文本不进行换行*/
    }
    .i-up-list-main-right-author{
      margin-top: 8px;
      font: 12px/12px a;
      color: rgba(0, 0, 0, 0.7);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .i-up-list-main-right-info{
      margin: 8px 0 0;
      height: 2.8em;
      font: 12px/1.4em a;
      color: rgba(0, 0, 0, 0.6);
      overflow: hidden;
      text-overflow: ellipsis;
      /*下面3个控制多行*/
      display: -webkit-box;/*多行文字溢出*/
      -webkit-line-clamp: 2;/*多行文字几行*/
      -webkit-box-orient: vertical;/*溢出就用...*/
    }

    .i-up-list-main-right-tags{
      margin-top: 10px;
      padding-top: 3px;
      overflow: hidden;

    }
    .i-up-list-main-right-tags-tag{
      float: left;
      margin: -3px 7px 0 0;
      padding: 3px 6px 2px;
      font: 10px/11px a;
      color: #53ac7d;
      border-radius: 3px;
      border: 1px solid #53ac7d;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 6em;
    }
    .i-up-list-main-right-tags-tag:last-child {
        margin-right: 0;
    }

    .i-up-list-mainnoimg-left{
      float: left;
      margin-top: 1px;
      font: 13px/13px a;
      color: rgba(237, 83, 15, 0.9);
    }
    .i-up-list-mainnoimg-right{
        margin-left: 27px;
    }
    .i-up-list-mainnoimg-right-bookname{
      font: 15px/15px a;
      color: rgba(0, 0, 0, 0.9);
      background: #fff;
      position: relative;
    }

    .i-up-foot{
      border-top: 1px solid #f0f0f0;
      overflow: hidden;

    }
    .i-up-foot >a {
      display: block;
      width: 100%;
      padding: 14px;
      font: 13px/1.3em a;
      color: rgba(0, 0, 0, 0.9);
      box-sizing: border-box;
      text-align: center;
    }
    .i-up-list-main__order{
      position: absolute;
      left: 3px;
      top: 0;
      padding: 5px 3px 0 4px;
      height: 17px;
      width: 12px;
      font: 8px/0.8em a;
      color: #fff;
      background: url(/webdashubao/images/V3CAzyZh.png) no-repeat;
      background-size: 15px 22px;

    }



.foot{
  background: #f5f5f5;
  width: 100%;
  position: relative;
  text-align: center;
}
  .foot a{
    font: bold 14px/44px a;
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 5px;
  }
.topbox {
	height: 44px;
  line-height: 44px;
	border-bottom: 1px solid #ddd;
	font: 15px/45px a;
	color:rgba(0,0,0,0.7);
	background-color: #efeff0;
  position:relative;
}
  .topbox .top__back {
  	float: left;
  	width: 42px;
  	height: 44px;
  }
  .topbox .top__back:before {
  	content: '';
  	display: block;
  	margin: 15px 0 0 16px;
  	width: 10px;
  	height: 16px;
  	background:url(/wapdashubao/images/back.png) no-repeat;
  	background-size: 10px 16px;
  }

  .topbox .header-home {
  	float: right;
  	width: 44px;
  	height: 44px;
  	background: url(/wapdashubao/images/QTS90E2ZVritaa.png) no-repeat center;
  	background-size: 16px;
  }
.right-search {
    height: 44px;
    background: #efeff0;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font: 15px/45px a;
    color: rgba(0,0,0,0.7);
    z-index: 999;
}
    .right-search .top__back {
      float: left;
      width: 42px;
      height: 44px;
    }
    .right-search .top__back:before {
        content: '';
        display: block;
        margin: 15px 0 0 16px;
        width: 10px;
        height: 16px;
        background: url(/wapdashubao/images/back.png) no-repeat;
        background-size: 10px 16px;
    }
    .right-search .search-input {
        position: relative;
        margin: 5px 20px 5px 42px;
        height: 35px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    }

    .right-search .search-input .search-input__mi {
        background: url(/wapdashubao/images/PP13pEqhpChuay.png) no-repeat center;
        background-size: 16px 16px;
        position: absolute;
        left: 0;
        top: 0;
        width: 36px;
        height: 35px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .right-search .search-input input {
        border: none;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px 52px 8px 42px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
        background: #fff;

    }
    .right-search .search-input .search-input__btn {
        display: block;
        line-height: 36px;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid #ddd;
        padding: 0 8px;
        font-size: 14px;
        color: #666;
    }

    .top__bd {
      position: relative;
      overflow: hidden;
    }
    .top__bd .search-tag {
        padding: 17px;
    }
    .top__bd .m-tag {
        line-height: 1;
        overflow: hidden;
    }

    .m-tag.-color .u-tag:nth-child(3n+1) {
        background-color: #fbebe8;
    }
    .m-tag.-color .u-tag:nth-child(3n+2) {
        background-color: #fcedda;
    }
    .m-tag.-color .u-tag:nth-child(3n+3) {
        background-color: #e8f9db;
    }
    .search-tag .u-tag {
        background: #fff;
        margin-bottom: 10px;
    }

    .m-tag .u-tag {
        display: inline-block;
        width: auto;
        line-height: 1.8em;
        padding: 0 20px;
        color: #766d5d;
        border-radius: 4px;
        background: #909da8;
        font-size: 14px;
        text-align: center;
        border: 1px solid #d3d3d3;
        margin: 0 10px 5px 0;
    }

    .his-dele {
      width: 142px;
      height: 2.5rem;
      line-height: 2.5rem;
      color: rgb(0, 0, 0);
      text-align: center;
      font-family: 微软雅黑;
      box-sizing: border-box;
      display: block;
      background: rgb(255, 255, 255);
      border-width: 1px;
      border-style: solid;
      border-color: black;
      border-image: initial;
      margin: 1rem auto;
  }




.info_top {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ddd;
    font: 15px/45px a;
    color: rgba(0,0,0,0.7);
    background-color: #efeff0;
}
    .top__back {
        float: left;
        width: 42px;
        height: 44px;
    }
    .top__back:before {
        content: '';
        display: block;
        margin: 15px 0 0 16px;
        width: 10px;
        height: 16px;
        background: url(/wapdashubao/images/back.png) no-repeat;
        background-size: 10px 16px;
    }
    .header-right {
        float: right;
        height: 44px;
        padding-right: 10px;
    }


    .info_book-page .u-book-detail {
        padding: 40px;
        display: table;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }
    .info_book-page .u-book-detail .book-cover {
        width: 100px;
        height: 134px;
        position: relative;
        background: #eeece9;
        box-shadow: 0px 6px 5px -3px #aaa;
        border: 1px solid #f0f0f0;
        border-bottom: none;
        overflow: hidden;
    }
    .info_book-page .u-book-detail .book-cover img {
        width: 100%;
        height: 100%;
    }

    .info_book-page .u-book-detail .info {
        padding: 0 0 0 14px;
        display: table-cell;
        vertical-align: middle;
    }
    .u-book-detail .info .title {
        margin-bottom: :13px;
        font-size: 16px;
    }
    .u-book-detail .info .author {
        margin-right: 5px;
        color: #4b99a7;
    }

    .u-book-detail .info .u-booktag-serial{
        border: 1px solid #00a0e9;
        border-radius: 4px;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        padding: 0 2px;
        color: #63bd6e;
        border-color: #63bd6e;
    }
    .main-card {
        border-bottom: 10px solid #f5f5f5;

    }
    .info_book-page .main-card .wrap {
        padding: 0 14px;
        margin: 0 0 27px;
    }
    .info_book-page .main-card .wrap .btn-group {
        width: 100%;
        font-size: 0;
        white-space: nowrap;
    }
    .info_book-page .main-card .wrap .btn-group li:first-child {
        margin-right: 2%;
    }
    .info_book-page .main-card .wrap .btn-group li {
        display: inline-block;
        width: 49%;
    }
    .u-btn2, .u-btn3, .u-btn4, .u-btn-disable {
        display: block;
        height: 2.8em;
        line-height: 2.8em;
        text-align: center;
        color: #737373;
        border: 1px solid #ddd;
        background: #fff;
        border-radius: 4px;
        font-size: 14px;
        -webkit-box-sizing: border-box;
    }
    .u-btn2, .u-btn3 {
        position: relative;
    }
    .u-btn2, .u-btn4 {
        background: #f35d02;
        border: 1px solid #e35109;
        color: #fff;
        padding: 0 10px;
    }
    .book-dash-text:after {
        content: '\5f00\59cb\9605\8bfb';
    }

    .u-folder>.folder-cnt {
        position: relative;
        line-height: 1.6;
        padding: 0 14px;
        margin-bottom: 10px;
        font-size: 14px;
        color: #585858;
    }
    .u-folder>.folder-tail {
        text-align: center;
        font-size: 14px;
        border-top: 1px solid #f0f0f0;
        color: #8d8d8d;
    }
    .u-folder>.folder-tail>div {
        padding: 10px 14px;
    }
    .u-folder>.folder-top {
        font-size: 16px;
        font-weight: normal;
        color: #8d8d8d;
        padding: 14px 14px 8px;
    }
    .folder-cnt .m-tag {
        line-height: 1;
        overflow: hidden;
    }
    .folder-cnt .m-tag .u-tag {
        margin: 0 10px 5px 0;
        display: inline-block;
        width: auto;
        line-height: 1.8em;
        padding: 0 20px;
        color: #766d5d;
        border-radius: 4px;
        background: #909da8;
        font-size: 14px;
        text-align: center;
        border: 1px solid #d3d3d3;
    }
    .zxjz {
        padding: 0px 10px;
        background-color: #fff;
        margin: 10px;

    }
    .zxjz .bk {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        line-height: 35px;
        height: 35px;
        border-color: #CCC;
        background-color: #fff;
    }
    .zxjz li {
        position: relative;
    }
    .zxjz li a {
        display: block;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #eee;
    }

    .zxjz .gengduo {
        text-align: center;
        line-height: 45px;
        height: 45px;
    }
    .zxjz .gengduo a {
        color: #666;
        font-family: Verdana, Geneva, sans-serif;
        display: block;
    }
    .zxjz li i {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 15px;
        height: 40px;
        background: center url(/wapdashubao/images/list.png) no-repeat;
    }

#jubaoForm .textarea{
		text-rendering: auto;
		color: #100;
		letter-spacing: normal;
		word-spacing: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		display: inline-block;
		text-align: start;
		margin: 0em;
		font: 14px system-ui;
		-webkit-appearance: textarea;
		background-color: white;
		-webkit-rtl-ordering: logical;
		user-select: text;
		flex-direction: column;
		resize: auto;
		cursor: auto;
		white-space: pre-wrap;
		word-wrap: break-word;
		border: 1px solid #CCC;
		padding: 2px;
}
    .input_el {
        margin: 0 8%;
        margin-top: 15px;
        margin-right: 8%;
        margin-bottom: 0px;
        margin-left: 8%;
        text-align: center;
        padding-bottom: 15px;
    }
    .btn_small {
        display: inline-block;
        margin: 0 10px;
        border: 1px solid #CCC;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 40%;
        height: 35px;
        line-height: 35px;
        color: #100;
        font-size: 16px;
        cursor: pointer;
        background-color: #FDFDFD;
    }
.mulu__bd{
	position: relative;
	overflow: hidden;
}
    .mulu_header {
        top: 0;
        height: 44px;
        background: #efeff0;
        border-bottom: 1px solid #ddd;
        font: 15px/45px a;
        color: rgba(0,0,0,0.7);
        position: fixed;
        z-index: 999;
        left: 0;
        display: flex;
        width: 100%;
    }
    .mulu_header .top__title{
      flex: 1;
      line-height: 44px;
      text-align: center;
    }
    .mulu-header-right {
        float: right;
        height: 44px;
        width: 42px;
        text-align: center;
        font-size: 22px;
    		color: red;

    }
